# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [ ]:
*In this notebook, Data Science Tools and Ecosystem are summarized.*

*In this notebook, Data Science Tools and Ecosystem are summarized.*

In [ ]:
**Objectives:**
* List popular languages for Data Science
* List data science libraries
* Markdown examples for headers, tables, lists, etc
* Code examples
* Following directions and taking screenshots :)

**Objectives:**
* List popular languages for Data Science
* List data science libraries
* Markdown examples for headers, tables, lists, etc
* Code examples
* Following directions and taking screenshots :)

In [ ]:
### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

In [ ]:
### Some of the commonly used libraries used by Data Scientists include:
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.
1. TensorFlow (Python)
2. Scikit-learn (Python)
3. ggplot2 (R)
4. DPLYR (R)

### Some of the commonly used libraries used by Data Scientists include:
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.
1. TensorFlow (Python)
2. Scikit-learn (Python)
3. ggplot2 (R)
4. DPLYR (R)

In [ ]:
|Data Science Tools|
|------------------|
|Jupyter|
|Rstudio|
|Anaconda|

|Data Science Tools|
|------------------|
|Jupyter|
|Rstudio|
|Anaconda|

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

In [ ]:
## Author:
Glenn Bushee

## Author:
Glenn Bushee